@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
} */

@layer base {
  button {
    /* @apply bg-gold px-8 py-4 text-center font-bold text-stone-950 md:text-2xl; */
  }
  input {
    /* @apply bg-stone-800 px-8 py-4 text-center text-gold-light placeholder:text-gold md:text-2xl; */
  }
}
